/* SelectVideoCard */
.rootContainer {

}
.rootContainer .iconContainer{
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% - 1rem);
    z-index: 11111;
    background: green;
    width: 0.8rem;
    height: 0.8rem;
    padding: 0.2rem;
    border-radius: 10rem;
    border: 1px solid #fff;
}
.iconContainer.plus{
    background: green;
}
.iconContainer.minus{
    background: red;
}
.rootContainer:hover .iconContainer {
    display: block;
}
